<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</head>
        
<body>  
    <div ng-controller="myController">
        <h1 id="welcomeText">Welcome to Character Prison </h1>
        <h2> You give us the name and image of a character, and we make sure they never escape our site.</h2>
        <a id="logoutLink" href="/logout">Logout</a><br>
        <a id="editLink" href="/user">Change Prisoner</a>
    </div>
    <hr>
    <h3> Prisoner: <%= char_name%> </h3>

    <span id="colorText">

        <div id="prison-bars">
            <img id='bar' src="/images/bars.png">
            <img src=<%= char_image%>
        </div>
    </span
</body>
      
</html>
