<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div class="form-container" ng-controller="myController">
        <h1 id="sectionTitle" class="form-header">Name and identify your prisoner</h1>
        <form method="POST" action="/user/update">
            <label>Prisoner's Image:</label>
            <input class="form-control" type="text" id="char_image" name="char_image" ng-model="user.char_image"><br>          
            <label>Prisoner's Name:</label>
            <input class="form-control" type="text" id="char_name" name="char_name" ng-model="user.char_name"><br>
            <font color="red"><p> Warning! Adding a new prisoner will release the old one. </p></font>   
            <input class="btn btn-primary" type="submit" id="save" value="Save">
        </form>
    </div>
    <form method="POST" action="/user/delete">
        <input class="btn btn-danger" type="submit" id="delete" value="Delete User">
    </form>
    <hr>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" href="/">Home</a>
</body>

</html>
